<div class="devise-form-container">
  <div class="col_3"></div>
  <div id="sign-div" class="col_18">
    <div class="sign-div-wrapper col_24">
      <div class="sign-up-form-title"><h2>Invite Request</h2></div>
      <%= render 'invites/form' %>
      <div class="col_24 omega">
        <div class="login-horisontal"></div>
        <div class="col_24 omega">
          <%= render 'devise/shared/two_acc_buttons' %>
        </div>
      </div>
    </div>
  </div>
</div>
