<div class="popup-rides-wrapper-bg">
  <div class="popup-rides-tabs-title">My Rides
  </div>
  <div class="popup-rides-tabs-upload">
    <a class="popup-rides-upload-link">Upload GPX/KML file</a>
  </div>
  <div class="popup-rides-tabs-create">
    <a class="popup-rides-create-link">Create New Ride</a>
  </div>
  <div class="clearfix"></div>
  <div class="popup-rides-tabs-content">
    <%= search_rides %>
    <div class="popup-rides-tabs-form-result">
      <div class="popup-rides-tabs-form-result-content">
        <div class="my-rides-content">

        </div>
      </div>
    </div>
  </div>
</div>
<div class="popup-own-ride-wrapper-bg hidden">
  <div class="popup-own-ride-left add-custom-dark-scroll">
    <%= own_ride_left_popup %>
  </div>
  <div class="popup-own-ride-right">
    <%= own_ride_right_popup %>
  </div>
</div>
