<div class="formline bottom-line">
  <a class="orange-btn embed-share left">Share ride</a>
  <a class="orange-btn share-to-my-rides right">Copy to my rides</a>
  <div class="clearfix"></div>
</div>
<div class="popup-own-ride-block photos">
  <p class="title-ride">
    <span class="">Photos</span>
  </p>
  <div class="photo-container">
    <span class="photos-ride">
      Soon you will be able to upload your own images from your app while you are out riding it
    </span>
  </div>
</div>
<div class="popup-own-ride-block description-ride">
  <p class="title-ride description-ride--title"><span class="">Description</span></p>

  <div class="description-text">
    <span class="description-ride" id="description_ride"></span>
  </div>
</div>
<a class="orange-btn view-large-map">View in larger map</a>
<a class="orange-btn download-garmin">Download GPS (.gpx)</a>
<div class="clearfix"></div>

<a class="orange-btn send-offline">Send offline maps to smartphone</a>

<a class="cbox-button-confirm delete-ride" href="#">Delete</a>