<div class="back"><a class="back-to-my-rides">Back to My Rides</a></div>
<div class="title-info">
  <div class="title"></div>
  <div class="info">
    <div class="type"><span class="label">Ride Type: </span><span class="val"></span></div>
    <div class="ridden-by"><span class="label">Ridden by: </span><span class="val"></span></div>
  </div>
</div>
<div class="route-info">
  <div class="distance">
    <div class="label">Distance</div>
    <div class="val"><span class="num">0</span><span> miles</span></div>
  </div>
  <div class="date">
    <div class="label">Date</div>
    <div class="val"><span class="num">0</span></div>
  </div>
  <div class="rating">
    <div class="label">Rating</div>
    <div class="val"><span class="num">0</span></div>
  </div>
  <div class="time">
    <div class="label">Time</div>
    <div class="val"><span class="num">0</span></div>
  </div>
</div>
<div class="map-img">
  <div class="edit-link"><a class="edit-ride" href="#">Edit Ride</a></div>
  <div class="img"></div>
</div>
<div class="elevation-map"></div>
<div class="see-comments">
  <a class="see-comments-link" data-text="Hide Comments for This Ride">See Comments for This Ride</a>

  <div class="ride-comments"></div>
</div>
