<select class="type styled add-custom-select" name="type">
  <option value="">Ride Type</option>
  <option value="">All</option>
  <option value="1">Created by Me</option>
  <option value="2">Ridden by Me</option>
  <option value="3">Shared with Me</option>
</select>