<div class="navigation-wrapper hidden about-us-text">
  <div class="popup-contacts-wrapper-bg">
    <div class="popup-contacts-title">
      About RidingSocial
    </div>
    <div class="clearfix"></div>
    <p>It started with passion. Well, passion, and a few bugs in our teeth.
      The team at RidingSocial was started by the same folks that bring you <%=link_to('Butler
      Motorcycle Maps', 'http://www.butlermaps.com‎')%> . “But paper maps are old school,” you say. True! That's why we built
      RidingSocial, to give you access to the best roads in the world with some fancy
      schmancy digital tools like online route planning, sharing, mobile apps and so on.
      We still make paper maps but we think this stuff is pretty cool and we think you’ll agree.
    <p>Our offices are nestled in the quaint mountain town of Eagle, CO because we like
      to ride our bikes to work and not see stoplights. Everybody here rides.
      Touring bikes, superbikes, dirt bikes, cruisers and everything in between.
      We race ‘em, camp off of them and explore our world from them… we are completely
      committed to building the best motorcycle travel and planning tools on the planet,
      we hope you enjoy them. Enjoy your ride!
    <p>To find out more please go to <%=link_to('ridingsocial.com', 'http://ridingsocial.com')%>
  </div>
  <div class="close">^</div>
</div>

