<div class="navigation-wrapper hidden contact-us-text">
  <div class="popup-contacts-wrapper-bg">
    <div class="popup-contacts-title">
      Contact Us
    </div>
    <div class="clearfix"></div>
    <p>We have setup a support forum on our RidingSocial website. Please visit <%=link_to('http://ridingsocial.com/forums/', 'http://ridingsocial.com/forums/') %> to log a support request. Thanks. 
     

    <p>We are located in the beautiful mountains of Colorado. The riding here is great!
      Send us a postcard or share a ride with us on RidingSocial P.O. Box 4746, Eagle, CO 81631

  </div>
  <div class="close">^</div>
</div>