<div id="footer">
  <div class="footer-wrapper">
    <div class="col_12 copyright">
      &copy; <%= copyright_bounds(2012) %> Motorcycle Maps
    </div>
    <div class="col_12 omega powered-by">
      <span>Powered By</span>
    </div>
  </div>
</div>
