<p class="no-friends">Argh, you don't have any friend requests at the moment.
 Not to worry, there are lots of people joining up all the time.
 If you build it they will come.
<div class="approve-popup-friends-result">
  <div class="approve-popup-result-hidden">
    <div class="result-wrapper">
      <div class="img-wrapper">
        <img class="club-img" height="116px" width="116px"></img>
      </div>
      <div class="friend-info-wrapper">
        <div class="name-wrapper">
          <div class="name"></div>
          <div class="location"></div>
        </div>
        <div class="buttons">
          <a class="add-friend">
            <span class="add-friend-pre"></span>
            <span class="add-friend-text">Add Friend</span>
          </a>
          <a class="disapprove">
            <span class="disapprove-pre"></span>
            <span class="disapprove-text">Disapprove</span>
          </a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="approve-popup-result-content add-custom-scroll">
    <div class="approve-popup-result-content-wrapper"></div>
  </div>
</div>
