<div class="popup-own-ride-block photos">
  <p class="title-ride">
    <span class="">Photos</span>
  </p>
  <div class="photo-container">
  </div>
</div>
<div class="popup-own-ride-block description-ride">
  <p class="title-ride description-ride--title"><span class="">Description</span></p>

  <div class="description-text">
    <span class="description-ride" id="description_ride"></span>
  </div>
</div>
<a class="orange-btn view-large-map">View in larger map</a>
<a class="orange-btn download-garmin">Download GPS (.gpx)</a>
<div class="clearfix"></div>