<div class="map-img">
  <div class="img"></div>
  <a class="orange-btn view-large-map">View in larger map</a>
  <div class="nearby-butler hidden">
    <span>NEARBY G1</span>
    <div class="nearby-rides"></div>
  </div>
</div>