<table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;">
  <!--start space height -->
  <tbody>
  <tr>
    <td height="20">
      <hr noshade="noshade" size="1"/>
    </td>
  </tr>
  <tr>
    <td align="center"><p style="font-size: 11px; font-family:Arial,Tahoma, Helvetica, sans-serif; color:#666666; font-weight:normal; text-align:center; ">Download our app<br>
      <div style="display:block;margin: auto;margin-top: 10px;">
      <a href="https://itunes.apple.com/us/app/ridingsocial-motorcycle-recording/id899213508?mt=8" target="_blank" style="text-decoration: none">
        <img src="http://ridingsocial.com/email/images/apple.png" width="135" height="40"  style="display:inline !important;" border="0">
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.sml.ridingsocial" target="_blank" style="text-decoration: none">
        <img src="http://ridingsocial.com/email/images/google.png" width="135" height="40" style="display:inline !important;" border="0">
      </a>
      </div>
    </p>
      <p style="font-size: 11px; font-family:Arial,Tahoma, Helvetica, sans-serif; color:#666666; font-weight:normal; text-align:center; ">&nbsp;</p></td>
  </tr>
  <!--end space height -->
  <!-- start heading -->
  <tr>
    <td valign="top">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="left">
        <tbody>
        <tr>
          <td align="left" style="font-size: 18px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#555555; font-weight:bold; text-align:left;">
            <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width">
              <!-- start space -->
              <tbody>
              <!-- end space -->
              <tr>
                <td valign="middle"><!--start content nav -->
                  <table border="0" align="center" cellpadding="0" cellspacing="0" class="container2">
                    <!--start call us -->
                    <tbody>
                    <tr>
                      <td valign="middle" align="center"><!--start icon socail -->
                        <table border="0" align="center" cellpadding="0" cellspacing="0" class="container2">
                          <tbody>
                          <tr>
                            <td valign="top" align="center">
                              <table border="0" align="center" cellpadding="0" cellspacing="0" class="container">
                                <tbody>
                                <tr>
                                  <td align="center" valign="middle" id="clear-padding">
                                    <a href="https://www.facebook.com/pages/Ridingsocial/455066447932544" style="text-decoration: none;"><img src="http://ridingsocial.com/email/images/iconbox-facebook.png" width="30" alt="iconbox-facebook" style="max-width:30px;" border="0" hspace="0" vspace="0"/></img>
                                    </a></td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                        <!--end icon socail --></td>
                    </tr>
                    <!--end call us -->
                    </tbody>
                  </table>
                  <!--end content nav --></td>
              </tr>
              <!-- start space -->
              <tr>
                <td valign="top" height="20"></td>
              </tr>
              <!-- end space -->
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <!-- end heading -->
  <!--start space height -->
  <!--end space height -->
  <!-- start text content -->
  <tr>
    <td valign="top">
      <table border="0" cellspacing="0" cellpadding="0" align="left">
        <tbody>
        <tr>
          <td style="font-size: 11px; font-family:Arial,Tahoma, Helvetica, sans-serif; color:#666666; font-weight:normal; text-align:left; ">
            © 2014 RidingSocial, All rights reserved. P.O. Box 4746 Eagle, CO 81631. Please do not reply to this email.
            You are receiving this email because you are awesome and created an account at maps.ridingsocial.com where all your motorcycle riding dreams come true.</td>
        </tr>
        <!--start space height -->
        <tr>
          <td height="20"></td>
        </tr>
        <!--end space height -->
        </tbody>
      </table>
    </td>
  </tr>
  <!-- end text content -->
  </tbody>
</table>
