<div class="popup-club-wrapper-bg-own-club hidden">
  <div class="own-club-left">
    <div class="back">
      <a class="back-button" href="#">Back to Search</a>
    </div>
    <div class="own-club-left-top">Group</div>
    <div class="own-club-left-bottom">
      <div class="own-club-left-bottom-img">
        <img class="club-img" height="116px" src="<%= asset_path('club-default-img.png')%>" width="116px"/>
      </div>
      <div class="own-club-left-bottom-text">
        <div class="name"></div>
        <div class="location"></div>
        <div class="description"></div>
        <div class="riding-preferences"></div>
      </div>
    </div>
  </div>
  <div class="own-club-right">
    <div class="own-club-right-head">Members</div>
    <div class="own-club-right-members-hidden">
      <div class="own-club-right-member-wrapper">
        <div class="own-club-right-member">
          <div class="member-img">
            <img class="member-small-img"/>
          </div>
          <div class="member-popup">
            <div class="member-arrow"></div>
            <div class="member-content">
              <div class="member-img"><img class="member-big-img"/></div>
              <div class="member-name"></div>
              <div class="member-location"></div>
              <div class="member-add-friend">
                <a class="member-add-friend-button">Add Friend</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="own-club-right-members"></div>
    <div class="own-club-right-announcements">
      <div class="own-club-right-announcements-line hidden">
        <div class="announcement-wrapper">
          <div class="title"></div>
          <div class="body"></div>
        </div>
      </div>
      <div class="own-club-right-announcements-head">Group Announcements</div>
      <div class="own-club-right-announcements-body-wrapper add-custom-scroll">
        <div class="own-club-right-announcements-body">Only members can view group announcements.</div>
      </div>
    </div>
    <div class="own-club-right-join"><a class="own-club-right-join-button">Request to join</a></div>
  </div>
</div>