<div class="popup-club-wrapper-bg">
  <div class="popup-club-tabs-title">Search Group</div>
  <div class="popup-club-tabs-create">
    <a class="popup-club-create-link">Create Group</a>
  </div>
  <div class="clearfix"></div>
  <div class="popup-club-tabs-content">
    <%= render 'template/groups/search_clubs' %>
  </div>
</div>
<%= render 'template/groups/own_club' %>
<%= render 'template/groups/create_club'%>