<!--START LAYOUT-7 -->

<tr>
  <td valign="top" class="fix-box">
    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="background-color: rgb(226, 101, 38);">


      <tbody><tr>
        <td class="full-width" width="100%" align="center" valign="top">
          <!-- start header container -->
          <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="background-color:#ffffff; ">

            <tbody><tr>
              <td valign="top" align="center" background="http://ridingsocial.com/email/images/ride.jpg" style="width:600px; height:200px;"><p style="font-weight:bold;">&nbsp;</p>
                <p style="font-weight:bold; ">&nbsp;</p>
                <p style="font-size: 18px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; font-weight:bold; color: rgb(255, 255, 255);">Yeeehhhaaaa! <br />
                  Thanks for continuing your subscription. </p></td>
            </tr>

            </tbody></table>
          <!-- end header container -->
        </td>
      </tr>
      </tbody></table>
  </td>
</tr>
<!--END LAYOUT-7-->


<!-- START LAYOUT 1 -->

<tr>
  <td align="center" valign="top" class="fix-box">

    <!-- start layout-1 container width 600px -->
    <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ffffff" style="background-color: rgb(255, 255, 255); border-bottom-width: 0px; border-bottom-style: solid; border-bottom-color: rgb(199, 199, 199);">
      <tbody>
      <tr>
        <td valign="top">

          <!-- start layout-1 container width 560px -->
          <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;">

            <!--start space height -->
            <tbody>
            <tr>
              <td height="20"></td>
            </tr>
            <!--end space height -->


            <!-- start text content -->
            <tr>
              <td valign="top">
                <table border="0" cellspacing="0" cellpadding="0" align="left">
                  <tbody><tr>
                    <td style="font-size: 18px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#555555; font-weight:bold; text-align:center;">
                      <p style="color: #555555; font-weight:bold;">
                        <a href="#" style="text-decoration: none; color: rgb(85, 85, 85); font-weight: bold;">
                          Hi <span style="color: rgb(226, 101, 38)"><%= @user.full_name %>,</span></a></p>
                      <p style="font-weight:bold;">Thanks so much for continuing your subscription. We have billed you for our awesome tracking service. We are stoked to have you on board.</p></td>
                  </tr>

                  <!--start space height -->
                  <tr>
                    <td height="15"></td>
                  </tr>
                  <!--end space height -->

                  <tr>
                    <td style="font-size: 13px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color: #333333; font-weight: normal; text-align: center;"><p>&nbsp;</p></td>
                  </tr>

                  <!--start space height -->
                  <tr>
                    <td height="20"></td>
                  </tr>
                  <!--end space height -->

                  <tr>
                    <td valign="top" width="auto" align="center">
                      <!-- start button -->
                      <table border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                          <td height="32" align="center" valign="middle" style="background-color: rgb(226, 101, 38); border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; background-clip: padding-box; font-size: 13px; font-family: Arial, Tahoma, Helvetica, sans-serif; text-align: center; color: rgb(255, 255, 255); font-weight: normal; padding-left: 18px; padding-right: 18px;">

                             <span style="color: #ffffff; font-weight: normal;">
                               <a href="#" style="text-decoration: none; color: rgb(255, 255, 255); font-weight: normal;">
                                 Start creating rides now
                               </a>
                             </span>
                          </td>

                          <!-- start space width -->
                          <!--end space width -->


                        </tr>
                        </tbody></table>
                      <!-- end button -->
                    </td>

                  </tr>

                  </tbody></table>
              </td>
            </tr>
            <!-- end text content -->

            <!--start space height -->
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td height="10" style="font-size: 13px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color: #333333; font-weight: normal; text-align: center;">Thanks
                for being part of RidingSocial and have a great day!
              </td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td height="10">
                <%= render "template/email/footer" %>
              </td>
            </tr>
            <!--end space height -->
            </tbody>
          </table>
          <!-- end layout-1 container width 560px -->
        </td>
      </tr>
      </tbody>
    </table>
    <!-- end layout-1 container width 600px -->
  </td>
</tr>
