<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @name %> (<%= @email %>) requested invite!</h1>
    <p>
      You can go to the <a href="<%= @url %>">link</a> for list not approved invites or <a href="<%= @url_approve %>">approve</a> immediate.
    </p>
    <p>Thanks for being part of RidingSocial and have a great day!</p>
  </body>
</html>