<!--START LAYOUT-7 -->

<tr>
  <td valign="top" class="fix-box">
    <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="background-color: rgb(226, 101, 38);">


      <tbody>
      <tr>
        <td class="full-width" width="100%" align="center" valign="top">
          <!-- start header container -->
          <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" style="background-color:#ffffff; ">

            <tbody>
            <tr>
              <td valign="top" align="center">
                <img src="http://ridingsocial.com/email/images/welcome.jpg" width="600" height="148" alt=""/></td>
            </tr>
            <tr>
              <td valign="top" align="center" background="http://ridingsocial.com/email/images/ride.jpg" style="width:600px; height:200px;">
                <p style="font-weight:bold;">&nbsp;</p>

                <p style="font-size: 18px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; font-weight:bold; color: rgb(255, 255, 255);">Hey, <%= @user.full_name %>
                  . </p>

                <p style="font-size: 18px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; font-weight:bold; color: rgb(255, 255, 255);">Welcome
                  to RidingSocial, it's great to have you on board</p></td>
            </tr>

            </tbody>
          </table>
          <!-- end header container -->
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<!--END LAYOUT-7-->


<!-- START LAYOUT 1 -->

<tr>
<td align="center" valign="top" class="fix-box">

<!-- start layout-1 container width 600px -->
<table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ffffff" style="background-color: rgb(255, 255, 255); border-bottom-width: 0px; border-bottom-style: solid; border-bottom-color: rgb(199, 199, 199);">
<tbody>
<tr>
<td valign="top">

<!-- start layout-1 container width 560px -->
<table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;">

<!--start space height -->
<tbody>
<tr>
  <td height="20"></td>
</tr>
<!--end space height -->


<!-- start text content -->
<tr>
<td valign="top"> <!-- start layout-2 container width 560px -->
<table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width" bgcolor="#ffffff" style="background-color:#ffffff;">

<!-- start image and content -->
<tbody>
<tr>
<td valign="top" width="100%">

<!-- start content left -->
<table width="270" border="0" cellspacing="0" cellpadding="0" align="left" class="col-2">

  <!--start space height -->
  <tbody>
  <tr>
    <td height="20"></td>
  </tr>
  <!--end space height -->

  <tr>
    <td valign="top" align="center">
      <a href="#" style="text-decoration: none;"><img src="http://ridingsocial.com/email/images/welcome_left.jpg" alt="image3_270x146" width="270" height="300" class="image-100-percent" style="display:block; max-width:270px; " border="0" hspace="0" vspace="0"/></img>
      </a>

    </td>
  </tr>

  <!--start space height -->
  <tr>
    <td height="20"></td>
  </tr>
  <!--end space height -->

  <!-- start text content -->
  <tr>
    <td valign="top">
      <table border="0" cellspacing="0" cellpadding="0" align="left">
        <tbody>
        <tr>
          <td style="font-size: 18px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#555555; font-weight:bold; text-align:left;">
                             <span style="color: #555555; font-weight: bold;">
                               <a href="#" style="text-decoration: none; color: rgb(85, 85, 85); font-weight: bold;">
                                 Great to have you on board</a>
                             </span>
          </td>
        </tr>

        <!--start space height -->
        <tr>
          <td height="15"></td>
        </tr>
        <!--end space height -->

        <tr>
          <td style="font-size: 13px; line-height: 22px; font-family:Arial,Tahoma, Helvetica, sans-serif; color:#333333; font-weight:normal; text-align:left; ">


            Thanks for joining. Did you know we have a premium service. Just hit the Upgrade tab when logged in. It is pretty cool and has a bunch of amazing
            functionality that riders should not go without.
          </td>
        </tr>

        <!--start space height -->
        <tr>
          <td height="20"></td>
        </tr>
        <!--end space height -->

        <tr>
          <td valign="top" width="auto">
            <!-- start button -->
            <table border="0" align="left" cellpadding="0" cellspacing="0">
              <tbody>
              <tr>
                <td width="auto" align="center" valign="middle" height="32" style="background-color: rgb(226, 101, 38); border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; background-clip: padding-box; font-size: 13px; font-family: Arial, Tahoma, Helvetica, sans-serif; text-align: center; color: rgb(255, 255, 255); font-weight: normal; padding-left: 18px; padding-right: 18px;">

                                   <span style="color: #ffffff; font-weight: normal;">
                                     <a href="https://maps.ridingsocial.com" style="text-decoration: none; color: rgb(255, 255, 255); font-weight: normal;">
                                       <singleline>Check it out</singleline>
                                     </a>
                                   </span>
                </td>
              </tr>
              </tbody>
            </table>
            <!-- end button -->


          </td>

        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <!-- end text content -->
  <!--start space height -->
  <tr>
    <td height="20" class="col-underline"></td>
  </tr>
  <!--end space height -->
  </tbody>
</table>
<!-- end content left -->


<!-- start space width -->
<table class="remove" width="1" border="0" cellpadding="0" cellspacing="0" align="left" style="font-size: 0;line-height: 0;border-collapse: collapse;">
  <tbody>
  <tr>
    <td width="0" height="2" style="font-size: 0;line-height: 0;border-collapse: collapse;">
      <p style="padding-left: 20px;">&nbsp;</p>
    </td>
  </tr>
  </tbody>
</table>
<!-- end space width -->


<!-- start content right -->
<table width="270" border="0" cellspacing="0" cellpadding="0" align="right" class="col-2-last">
  <!--start space height -->
  <tbody>
  <tr>
    <td height="20"></td>
  </tr>
  <!--end space height -->

  <tr>
    <td width="100%" valign="top" align="center">
      <a href="https://itunes.apple.com/us/app/ridingsocial-motorcycle-recording/id899213508?mt=8" target="_blank" style="text-decoration: none;">
        <img class="image-100-percent" src="http://ridingsocial.com/email/images/welcome_right.jpg" width="270" alt="image3_270x146" style="display:block; max-width:270px; " border="0" hspace="0" vspace="0"></img>
      </a>

    </td>
  </tr>

  <!--start space height -->
  <tr>
    <td height="20"></td>
  </tr>
  <!--end space height -->

  <!-- start text content -->
  <tr>
    <td valign="top">
      <table border="0" cellspacing="0" cellpadding="0" align="left">
        <tbody>
        <tr>
          <td style="font-size: 18px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#555555; font-weight:bold; text-align:left;">
                             <span style="color: #555555; font-weight: bold;">
                               <a href="#" style="text-decoration: none; color: rgb(85, 85, 85); font-weight: bold;">
                                 Get the RidingSocial app
                               </a>
                             </span>
          </td>
        </tr>

        <!--start space height -->
        <tr>
          <td height="15"></td>
        </tr>
        <!--end space height -->

        <tr>
          <td style="font-size: 13px; line-height: 22px; font-family:Arial,Tahoma, Helvetica, sans-serif; color:#333333; font-weight:normal; text-align:left; ">

           Create rides at home and view them on your phone. Track all your rides and share them to your friends. If you've upgraded to premium you'll also see all the Butler Maps recommended roads so you never miss a good ride again.  Plus, it's free.
          </td>
        </tr>

        <!--start space height -->
        <tr>
          <td height="20" align="center">
          <a href="https://itunes.apple.com/us/app/ridingsocial-motorcycle-recording/id899213508?mt=8" target="_blank" style="text-decoration: none">
       <img src="https://ridingsocial.com/email/images/apple.png" width="135" height="40" style="text-align:center" border="0" hspace="0" vspace="0">
       
      </a></td>
        </tr>
        <!--end space height -->

        <tr>
          <td valign="top" width="auto">
            <!-- start button -->
            <table border="0" align="left" cellpadding="0" cellspacing="0">
              <tbody>
              <tr>
                <td width="auto">

                                <!-- align="center" valign="middle" height="32" style="background-color: rgb(226, 101, 38); border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; border-bottom-left-radius: 8px; background-clip: padding-box; font-size: 13px; font-family: Arial, Tahoma, Helvetica, sans-serif; text-align: center; color: rgb(255, 255, 255); font-weight: normal; padding-left: 18px; padding-right: 18px;"  
                                
                                
                                <span style="color: #ffffff; font-weight: normal;">
                                     <a href="#" style="text-decoration: none; color: rgb(255, 255, 255); font-weight: normal;">
                                       <singleline>Download the app</singleline>
                                     </a>
                                   </span>-->
                </td>
              </tr>
              </tbody>
            </table>
            <!-- end button -->


          </td>

        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <!-- end text content -->

  <!--start space height -->
  <tr>
    <td height="20"></td>
  </tr>
  <!--end space height -->

  </tbody>
</table>
<!-- end content right -->
</td>
</tr>
<!-- end image and content -->

</tbody>
</table>
</td>
</tr>
<!-- end text content -->

<!--start space height -->
<tr>
  <td height="10">
    <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width">
      <!-- start space -->
      <tbody>
      <tr>
        <td valign="top" height="20">&nbsp;</td>
      </tr>
      <!-- end space -->
      <tr>
        <td valign="middle">&nbsp;</td>
      </tr>
      <!-- start space -->
      <tr>
        <td valign="top" height="20"></td>
      </tr>
      <!-- end space -->
      </tbody>
    </table>
  </td>
</tr>
<tr>
  <td height="10" style="font-size: 13px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color: #333333; font-weight: normal; text-align: center;">Thanks
    for being part of RidingSocial and have a great day!
  </td>
</tr>
<tr>
  <td height="10"></td>
</tr>
<tr>
  <td height="10">
    <%= render "template/email/footer" %>
  </td>
</tr>
<!--end space height -->
</tbody>
</table>
<!-- end layout-1 container width 560px -->
</td>
</tr>
</tbody>
</table>
<!-- end layout-1 container width 600px -->
</td>
</tr>
