- content_for :header_actions do
  = plan_a_ride_link

// MYSTATS / LEADERBOARD
= render 'stats_leaderboard'

= render 'rides'
= render 'news'
= render 'friends'
= render 'groups'

/DONE
= render 'challenges'


