<h1>Listing premium_plans</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @premium_plans.each do |premium_plan| %>
      <tr>
        <td><%= link_to 'Show', premium_plan %></td>
        <td><%= link_to 'Edit', edit_premium_plan_path(premium_plan) %></td>
        <td><%= link_to 'Destroy', premium_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Premium plan', new_premium_plan_path %>
