<ol id="joyRideTipContent">
  <li data-button="Next">
    <h2>Welcome to RidingSocial</h2>

    <p>Have we got something great for you! Click the next button to get a quick tour about the place.</p>

    <p id="welcome-videoholder"></p>

    <p>Don't forget to download our iPhone/Android app. Search for RidingSocial in the Apple App Store or Google Plus Store.</p>

    <p class="joyride-appstore-links">
      <a href="https://itunes.apple.com/us/app/ridingsocial-motorcycle-recording/id899213508?mt=8" target="_blank" style="text-decoration: none">
        <img src="<%= image_path 'apple.png' %>" width="135" height="40" style="text-align:center" border="0">
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.sml.ridingsocial" target="_blank" style="text-decoration: none">
        <img src="<%= image_path 'google.png' %>" width="135" height="40" style="text-align:center" border="0">
      </a>
    </p>

    <p>Also if you run into any problems we have launched a
      <a href="http://ridingsocial.com/forums/" target="_blank">support forum</a> on our public site.
    </p>

  </li>
  <li data-class="plan-trip" data-text="Next" data-button="Next" data-options="tipLocation:right">
    <h2>Create Rides</h2>

    <p>Click anywhere on the map, or open this panel and you can create any rides you wish. Once you are done,
      hit the save button. It saves in the system here and syncs with the app on your phone.</p>
    <p id="plan-rides-videoholder"></p>
  </li>
  <li data-class="my-rides" data-text="Next" data-button="Next" data-options="tipLocation:right">
    <h2>My Rides</h2>

    <p>When you have created and saved your rides, they are then visible in my rides. This includes the rides
      shared with you, copied by you, the rides you have recorded on your app. All your rides are saved
      here.</p>
    <p id="my-rides-videoholder"></p>
  </li>
  <li data-class="walk_dashboard" data-button="Next" data-text="Next" data-options="tipLocation:bottom">
    <h2>Dashboard</h2>

    <p>View your friends from here. The friends panel will slide up on the right for easy access to see what
      your friends are riding.</p>
  </li>
  <li data-class="walk_dashboard" data-button="Next" data-text="Next" data-options="tipLocation:bottom">
    <h2>Dashboard</h2>

    <p>This panel allows you to view a bunch of information from your friends, your profile and general
      stats.</p>
  </li>
  <li data-class="walk_groups" data-button="Next" data-text="Next" data-options="tipLocation:bottom">
    <h2>Groups</h2>

    <p>Find like minded people in your area. </p>
  </li>
  <li data-class="walk_search" data-button="Next" data-text="Next" data-options="tipLocation:bottom">
    <h2>Search - Friends/Butler Rides</h2>

    <p>Find friends already using RidingSocial. When you add a friend and they approve you, they will appear in
      the friends panel on the right of the page. To reveal the friends click on the friends link to your
      left.</p>

    <p>You can also search for the popular rides as well as our descriptions of our G1 areas. These show photos and
      descriptions of some great rides.</p>
  </li>
  <li data-class="friends-link" data-button="Next" data-text="Next" data-options="tipLocation:right">
    <h2>Friends</h2>

    <p>View your friends from here. The friends panel will slide up on the right for easy access to see what
      your friends are riding.</p>
  </li>
  <li data-class="layers-link" data-button="Next" data-text="Next" data-options="tipLocation:right">
    <h2>Segments</h2>

    <p>If you have our premium account you can turn on and off the well know Butler Segments.</p>
  </li>
  <li data-class="legend-link" data-button="Next" data-text="Next" data-options="tipAdjustmentY:-300;tipLocation:right;nubPosition:bottom-left">
    <h2>Legend</h2>

    <p>Here you can see exactly what all those colors on the map are. Premium only.</p>

    <div id="legend-videoholder"></div>
    <br>
  </li>
  <li data-button="Close">
    <h2>Enjoy</h2>

    <p>Ok, enough of this. Create your first ride now by clicking anywhere on the map.</p>
  </li>
</ol>