<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="initial-scale=1.0"/>
  <meta name="format-detection" content="telephone=no"/>
  <title>RidingSocial - Access Approved</title>
  <%= render '/template/email/styles' %>
</head>
<body style="font-size:12px;">
<table id="mainStructure" width="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#E26526;">


  <!--START TOP NAVIGATION ​LAYOUT-->
  <tr>
    <td valign="top">
      <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">


        <!-- START CONTAINER NAVIGATION -->
        <tbody>
        <tr>
          <td align="center" valign="top" class="fix-box">

            <!-- start top navigation container -->
            <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" bgcolor="#ffffff" style="background-color:#ffffff;">

              <tbody>
              <tr>
                <td valign="top">


                  <!-- start top navigaton -->
                  <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="full-width">

                    <!-- start space -->
                    <tbody>
                    <tr>
                      <td valign="top" height="20">
                      </td>
                    </tr>
                    <!-- end space -->

                    <tr>
                      <td valign="middle">

                        <table align="left" border="0" cellspacing="0" cellpadding="0" class="container2">

                          <tbody>
                          <tr>
                            <td align="center" valign="top">
                              <a href="http://maps.ridingsocial.com" style="text-decoration: none;"><img src="http://ridingsocial.com/wordpress/wp-content/uploads/rs_logo1.png" alt="Logo" width="210" height="60" border="0" hspace="0" vspace="0"></img></a>
                            </td>

                          </tr>

                          <!-- start space -->
                          <tr>
                            <td valign="top" class="increase-Height-20">
                            </td>
                          </tr>
                          <!-- end space -->

                          </tbody>
                        </table>

                        <!--start content nav --></td>
                    </tr>

                    <!-- start space -->
                    <tr>
                      <td valign="top" height="20">
                      </td>
                    </tr>
                    <!-- end space -->

                    </tbody>
                  </table>
                  <!-- end top navigaton -->
                </td>
              </tr>
              </tbody>
            </table>
            <!-- end top navigation container -->

          </td>
        </tr>


        <!-- END CONTAINER NAVIGATION -->

        </tbody>
      </table>
    </td>
  </tr>
  <!--END TOP NAVIGATION ​LAYOUT-->

  <%= yield %>


  <!-- END LAYOUT 1 -->


  <!--  END START COPY RIGHT -->

  <tr>
    <td align="center" valign="top" class="fix-box" style="background-color: rgb(226, 101, 38);">
      <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color: rgb(226, 101, 38);">
        <tbody>
        <tr>
          <td valign="top">
            <table width="560" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="background-color: rgb(226, 101, 38);">

              <!--start space height -->
              <tbody>
              <tr>
                <td height="10"></td>
              </tr>
              <!--end space height -->

              <tr>
                <!-- start COPY RIGHT content -->
                <td valign="top" style="font-size: 13px; line-height: 22px; font-family: Arial,Tahoma, Helvetica, sans-serif; color:#ffffff; font-weight:normal; text-align:center; ">
                  © RidingSocial
                </td>
                <!-- end COPY RIGHT content -->
              </tr>

              <!--start space height -->
              <tr>
                <td height="10"></td>
              </tr>
              <!--end space height -->


              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <!--  END FOOTER COPY RIGHT -->
</table>
</body>
</html>